/* General Styles */
html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  line-height: 1.4rem;
  margin: 0 auto;
  max-width: 1080px;

}

.flex-container {
  width: 960px;
  margin: auto;
  border: 1px solid lightgrey;
}

h1 {
  font-size: 2rem;

}

/* Header Section */
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
}

nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  max-width: 1080px;

}

nav .logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

nav .logo .academy {
  color: grey;
  font-weight: normal;
}

nav img {
  height: 3.5rem;
  margin-left: 1.5rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1.5rem;
}

header nav ul {
  display: flex;
}

nav li a {
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

header .mobile {
  display: none;
}

nav a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1079px){
  nav li a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 760px) {
  header .container {
    display: none;
  }


  header .mobile {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
  }
  header .mobile ul {
    width: 100%;
    justify-content: space-around;
    align-items: center;

  }

  header .mobile ul li {
    padding: 0;
  }

  header .mobile img {
    height: 2.5rem;
    padding-top: 0.5rem;
  }
    )

}

/* Sign UP Section */

.main-container {
  max-width: 1080px;
  margin: auto;
  position: relative;
  top: 4rem;

}

.sign-up {
  display: flex;
  justify-content:flex-start;
  background-color: lightgrey;


}

.banner {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner img {
  max-width: 100%;
}

.sign-up-cta {

  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1.5rem;
  align-items: center;
  display: flex;

}

.button {
  margin-top: 1.625rem;
  padding: 0.5rem 7.25rem;
  background-color: grey;
  text-align: center;

  font-size: 1.2rem;
}

.button a {
  color: white;
}

.button:hover {
  /*background-color: black;*/
  box-shadow: 0.25em 0.25em 0.25em #999;
}


.content {
  margin: auto;
  width: 22rem;
}

.content h1 {
  font-size: 2.5rem;
  line-height: 1;
  padding-bottom: 1.5rem;
  font-weight: bold;
}

.content span {
  font-size: 1.2rem;
  line-height: 1;
}

@media only screen and (max-width: 1079px) {
  .content h1 {
    font-size: 2rem;
  }
.content span {
  font-size: 1rem;
}
.content {
  width: 18rem;
}
.button {
  font-size: 1rem;
  padding: 0.5rem 6rem;
}
}

@media only screen and (max-width: 760px) {
  .sign-up {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .banner {
    width: 100%;
  }

  .sign-up-cta {
    margin: 0 1rem 0rem 1rem;
  }

  .sign-up-cta .content {
    margin-left: 0;
    width: 100%;
  }

  .sign-up-cta .content h1 {
    padding-bottom: 2rem;
  }

  .sign-up-cta .button {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

}

/* Feature Section */

.features-section {
  display: flex;
  justify-content: flex-start;
}

.left-feature {
  width: 60%;
  margin: 2rem 1.5rem;

}

.left-feature h1 {
  font-size: 2rem;
  line-height: 1;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
}

.left-feature img {
  max-width: 100%
}

.articles {
  width: 40%;
  margin: 2rem 0;
}

.article {
  display: flex;
  justify-content: flex-start;
  border: 1px solid lightgrey;

}

#guest {
  background-color: lightgrey;
}

.left-feature .source {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.75rem;
  font-weight: 300;
}

.left-feature .quote {
  font-size: 1rem;
}

.image {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

.image img {
  max-width: 100%;
}

.description {

}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-right: 1.5rem;
}

.description h2 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
}

.description span {
  padding-bottom: 0.5rem;
  font-weight: 300;
}

.description a {
  color: blue;
}

.article .mobile-image {
  display: none;
}

@media only screen and (max-width: 760px) {
  .left-feature {
    display: none;
  }

  .articles {
    width: 100%;
    margin-top: 0;
  }

  .article {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    max-width: 100%;
    border: none;
  }

  .article .image {
    display: none;
  }

  .article .mobile-image {
    display: block;
    max-width: 100%;
  }

  .description {
    padding-bottom: 3rem;
  }

  .mobile-image img {
    margin-top: 1rem;
    max-width: 100%;
  }

#guest .description {
  padding-bottom: 2rem;
}

#guest {
  background-color: white;
}

}

/* Course Section */

.course-catalogue {
  background-color: lightgrey;
  text-align: center;
}

.course-catalogue h1 {
  padding-top: 2rem;
  font-weight: bold;
}

.course-catalogue span {
  font-size: 1rem;
  font-weight: 300;
}

.courses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 3.5rem 1rem 3.5rem;
}

.course {
  background-color: white;
  flex: 1;
  margin: 2rem 1rem 1rem 1rem;
  min-width: 30%;
  height: auto;
}

.center{
  text-align: center;
  background-color: white;
}

.course .image-container {
  height: auto;
  width: 100%;
  margin: auto;
}

.course .image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.course img {
  width: 100%;
  height: auto;
}

.course-content {
  padding: 1rem 1rem 1rem 1rem;
  background-color: white;
  text-align: left;
}

.course-content h2 {
  font-size: 1.2rem;
}

.course-content h3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
  font-size: 0.85rem;
}



@media only screen and (max-width: 760px) {
  .course-catalogue {
    background-color: white;
  }

  .courses {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1rem 2rem 1rem;
  }

  .courses .image-container {
    display: none;
  }

  .course-content {
    background-color: lightgrey;
    text-align: left;
    padding: 1rem 0 1.5rem 1rem;
  }

  .course-content h3, .course-content span {
    display: none;
  }

  .course-content h2 {

  }

  .course {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

}


/* Thesis Section */

.features-headline {
  text-align: center;
  padding-top: 2rem;
  font-weight: bold;
}

.videobox {
  display:block;
  width:100%;
  margin: auto;
  /*box-shadow: 0.5em 0.5em 0.5em #999; */
}

.left-feature-thesis h1 {
  font-size: 2rem;
  line-height: 1;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.left-feature-thesis {
  width: 60%;
  margin: 2rem 1.5rem;

}

@media only screen and (max-width: 760px) {
  .features-headline {
    padding-bottom: 1rem;
  }

  .features-section {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .left-feature-thesis {
    margin: 0 0 1.5rem 0;
    width: 100%;
  }

  .left-feature-thesis h1 {
    display: none;
  }

  #thesis, .features-section .quote {
    display: none;
  }

}

/* Footer Section */

footer {
  background-color: white;
  padding: 1rem 1.5rem;
  max-width: 100%;
  margin: auto;
  position: relative;
  top: 4rem;
}

footer .footer-content {
  color: black;
  display: flex;
  align-items: center;
  font-size: .75rem;
}

footer ul {
  display: flex;
}

footer li {
  padding-left: 1rem;
}

footer .copyright {
 flex-grow: 1;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 760px) {
  .footer-links {
    display: none;
  }

  footer {
    background-color: white;

  }

  footer .footer-content {
    color: black;

  }

}
